<div class="row">
    <div class="col-4">

    </div>
    <div class="col-4 bg-dark" style="text-align: center;">
        <button routerLink=""   class=" btn btn-outline-danger">anasayfa</button>
        <button routerLink="/more-movies"  class="btn btn-outline-danger">listem</button>
        <button routerLink="/sayi"  class="btn btn-outline-danger">hesap</button>
    
    
    </div>
    <div class="col-4">
        <h4 style="color: white;">film izlem listesi deneme web sitesi</h4>
    
    </div>
</div>

